@import "..//utilities/mixins";

// navbar

//hero container

.hero-container {
  height: 600px;
}

.hero-col {
  height: 100%;
  background-image: url(/assets/home/desktop/image-hero-coffeepress.jpg);
  @include backgroundIMG;
  border-radius: 10px;
}

// card

.card-img-top {
  width: 72px;
  height: 72px;
}

//why container

.why-container {
  height: 902px;
  background-color: #2c343e;
  border-radius: 10px;
}

.testemonials-card {
  background-color: #0e8784;
  border-radius: 8px;
}
