@import "..//utilities/mixins";

// header
.header {
  width: 1280px;
  height: 100%;
  margin: auto;
}

// navbar

.navbar {
  width: 100%;
}

//hero container

.hero-container {
  width: 1280px;
  height: 600px;
  background-image: url(/assets/home/desktop/image-hero-coffeepress.jpg);
  @include backgroundIMG;
  border-radius: 10px;

  .col {
    width: 100%;
    height: 100%;
    border: 2px solid red;
  }

  .hero-text {
    width: 493px;
    height: 367px;
    color: white;
  }
}

//coffe container

.coffe-container {
  width: 100%;
  max-width: 1111px;
  height: 525px;

  .coffe-heading {
    h1 {
      font-size: 28px;
    }
  }
}
