@import "..//utilities/mixins";

/*  plan  */

// plan-hero

.plan-hero {
  height: 400px;
  border-radius: 10px;
  h1 {
    @include frauces40px;
    color: $LightCream;
  }

  p {
    @include barlow15px;
    color: $LightCream;
    opacity: 0.8;
  }
}

.plan-text {
  height: 182px;
}

// plan-hero end

/* steps  section*/

.plan-steps {
  border-radius: 10px;
  background-color: $FooterBackground;
}

//steps card

.steps-card {
  background-color: $FooterBackground;
  border: none;
  h2 {
    @include frauces72px;
    color: $PaleOrange;
  }

  h3 {
    @include frauces28px;
    color: $CardHeader;
  }

  p {
    @include barlow15px;
    color: $CardHeader;
  }
}

/* steps  section end*/

/* order section*/

// list

//list items

.list-item {
  @include frauces24px;
  color: $DarkGreyBlue;
  opacity: 0.4;
}

.question {
  @include frauces24px;
  color: $Question;

  &:hover {
    color: $Question;
  }
}

.arrow {
  width: 19px;
  height: 12px;
}

.sub-card {
  background-color: $CardBackground;
  border-radius: 8px;
  border: none;
  h5 {
    @include frauces24px;
    color: $DarkGreyBlue;
  }

  p {
    @include barlow15px;
    color: $DarkGreyBlue;
  }
}

// summary text

.summary-text {
  background-color: $FooterBackground;
  border-radius: 10px;

  h5 {
    @include barlow15px;
    color: $CardHeader;
    opacity: 0.5;
    text-transform: uppercase;
  }

  p {
    @include frauces24px;
    color: $CardHeader;
  }

  span {
    @include frauces24px;
    color: $Darkcyan;
  }

  .summary-btn {
    height: 56px;
  }
}

/* order section end*/

/* create plan  end */
