@include media-breakpoint-up(xxl) {
  // index

  //hero

  .hero-text {
    text-align: left;
    margin-left: 10px;

    h1 {
      @include frauces72px;
      line-height: 72px !important;
    }

    p {
      @include barlow15px;
    }
  }

  // .coffe-row {
  //   width: 1120px;
  // }

  .why-container {
    height: 573px !important;

    .why-text {
      width: 540px;
      height: 160px;
      margin: auto;

      p {
        font-size: 16px;
      }
    }
  }
  .testemonials {
    margin-top: -330px;
    flex-direction: row !important;
  }

  .how-container {
    flex-direction: row !important;
  }

  //index end

  //footer

  .footer-container {
    height: 120px;
    display: flex;
    flex-direction: row;
  }

  .footer-navbar {
    display: flex;
    margin-top: 0 !important;
  }

  .footer-links {
    margin-top: 0 !important;
  }
}

//about us desktop

@include media-breakpoint-up(xxl) {
  // hero
  .about-hero {
    height: 450px;
    background-image: url(/assets/about/desktop/image-hero-whitecup.jpg);
    @include backgroundIMG;
  }

  .about-text {
    margin-left: 84px;
  }

  // hero end

  // commitment section

  .our-commitment {
    flex-direction: row !important;
  }

  .our-photo {
    height: 520px;
    background-image: url(/assets/about/desktop/image-commitment.jpg);
    @include backgroundIMG;
    border-radius: 10px;
  }

  .our-text {
    h2 {
      margin: 17px !important;
    }
  }

  // commitment section end

  // quality section

  .quality-container {
    height: 474px;
    background-image: url(/assets/about/desktop/bg-quality.png);
    @include backgroundIMG;
    display: flex;
    flex-direction: row-reverse;
  }

  .quality-photo {
    position: relative;
    margin-top: -90px !important;
    height: 474px;
    background-image: url(/assets/about/desktop/image-quality.jpg);
    @include backgroundIMG;
  }

  .quality-text {
    justify-content: flex-start !important;
    text-align: start !important;
    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  // HQ section

  .h-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
  }
}

// plan desktop

@include media-breakpoint-up(xxl) {
  .plan-hero {
    height: 450px;
    background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
    @include backgroundIMG;
  }

  .plan-text {
    padding-left: 40px;
  }

  // steps

  .plan-steps {
    height: 653px;
    border-radius: 0;
  }

  .steps-line {
    height: 453px !important;
  }

  .steps-card {
    height: 355px;
  }
}
