/* INDEX DESKTOP*/

@include media-breakpoint-up(xxl) {
  /* hero section */

  .hero-text {
    text-align: left;
    margin-left: 10px;

    h1 {
      @include frauces72px;
      line-height: 72px !important;
    }

    p {
      @include barlow15px;
    }
  }

  /* hero section end*/

  /* collection section */

  .coffe-heading {
    height: 196px;
  }

  .our-collection {
    padding-top: 90px !important;
    height: 196px !important;
  }

  .coffe-container {
    margin-top: -130px;
  }

  /* collection section end */

  /* why section */

  .why-container {
    height: 573px !important;

    .why-text {
      width: 540px;
      height: 160px;
      margin-top: 100px !important;
      p {
        font-size: 16px;
      }
    }
  }
  .testemonials {
    margin-top: -240px !important;
    flex-direction: row !important;
    padding: 0 35px;
  }

  .testemonials-card {
    margin: 20px !important;
  }

  /* why section end */

  /* How it works */

  .how-container {
    flex-direction: column !important;
    height: 453px !important;
  }

  .how-heading {
    margin-left: 68px !important;
    h1 {
      font-size: 24px;
    }
  }

  .circles-index {
    margin-left: 20px;
  }

  .how-card {
    margin-right: 150px;
    .card-body {
      padding: 0;
    }
  }
  /* How it works end */

  /* footer */

  .footer-container {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-navbar {
    margin-top: 11px !important;
  }

  .footer-links {
    margin-top: 0px !important;
    margin-right: 40px;
  }

  /* footer end */
}

/* INDEX DESKTOP END*/

/* ABOUT US DESKTOP*/

@include media-breakpoint-up(xxl) {
  /* hero*/
  .about-hero {
    height: 450px;
    background-image: url(/assets/about/desktop/image-hero-whitecup.jpg);
    @include backgroundIMG;
    margin-bottom: 169px;
  }

  .about-text {
    margin-left: 84px;

    p {
      font-size: 16px;
    }
  }

  /* hero end*/

  /* commitment section */

  .our-commitment {
    flex-direction: row !important;
    margin-bottom: 236px;
  }

  .our-photo {
    height: 520px;
    background-image: url(/assets/about/desktop/image-commitment.jpg);
    @include backgroundIMG;
    border-radius: 10px;
  }

  .our-text {
    height: 340px;
    h2 {
      font-size: 40px;
      margin: 17px !important;
    }
    p {
      font-size: 16px;
    }
  }

  /* commitment section end */

  /* quality section */

  .quality-container {
    height: 474px;
    background-image: url(/assets/about/desktop/bg-quality.png);
    @include backgroundIMG;
    display: flex;
    flex-direction: row-reverse;
  }

  .quality-photo {
    position: relative;
    margin-top: -90px !important;
    height: 474px;
    background-image: url(/assets/about/desktop/image-quality.jpg);
    @include backgroundIMG;
  }

  .quality-text {
    justify-content: flex-start !important;
    text-align: start !important;

    h2 {
      margin-top: 90px;
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  /* quality section end */

  /* quality section  */

  .hq-cards {
    margin-top: 148px;
  }

  .h-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
  }

  /* quality section end  */
}

/* ABOUT US DESKTOP*/

/* Plan DESKTOP*/

@include media-breakpoint-up(xxl) {
  /* Plan hero*/
  .plan-hero {
    height: 450px;
    background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
    @include backgroundIMG;
    margin-bottom: 118px;
  }

  .plan-text {
    padding-left: 40px;

    h1 {
      font-size: 72px;
    }

    p {
      font-size: 16px;
      margin-top: 50px !important;
    }
  }

  /* Plan hero end*/

  /* Steps section*/

  .plan-steps {
    height: 653px;
  }

  //circles

  .circles-col {
    margin-left: 80px;
  }

  .steps-line {
    height: 453px !important;
    margin-left: 85px !important;
  }

  .steps-card {
    height: 355px;
    padding-right: 120px;

    .card-body {
      padding: 0;
    }
    h3 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  /* Steps section end*/

  /* Order section*/

  // order cards!

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    .sub-card {
      height: 250px;
      margin: 0 5px;

      h5 {
        margin-top: 20px;
        margin-bottom: 24px;
      }
    }
  }

  .question {
    width: 900px !important;
  }

  .summary-text {
    height: 208px;
  }

  /* Order section end*/

  /* MODAL*/

  .mobile-value {
    display: none;
  }
}
