@include media-breakpoint-down(sm) {
  //navbar

  .navbar-nav {
    display: none;
  }

  .logo {
    width: 163px;
    height: 18px;
  }

  // why section

  .hero-col {
    height: 100%;
    background-image: url(/assets/home/mobile/image-hero-coffeepress.jpg);
    @include backgroundIMG;
    border-radius: 10px;
  }

  //testemonials

  .testemonials {
    margin-top: -650px;
  }
}
