/* index mobile */

@include media-breakpoint-between(xs, md) {
  //navbar

  .navbar-nav {
    display: none !important;
  }

  .logo {
    width: 163px;
    height: 18px;
  }

  //hamburger

  .hamburger {
    display: block !important;
  }

  /* hero section */

  .hero-col {
    height: 100%;
    background-image: url(/assets/home/mobile/image-hero-coffeepress.jpg);
    @include backgroundIMG;
    border-radius: 10px;
  }

  .hero-row {
    height: 500px;
  }

  .about-text {
    padding: 10px;
    margin-left: 20px;
  }

  /* hero section end*/

  /* collection section*/

  .coffe-heading {
    height: 72px;

    .our-collection {
      font-size: 40px;
    }
  }

  /* collection section end*/

  /* why section*/

  .why {
    margin-bottom: 125px;
  }

  //testemonials

  .testemonials {
    margin-top: -650px;
  }

  /* why section end*/

  /* how it works*/

  .circles {
    display: none;
  }

  /* how it works end*/

  /* footer */

  .footer-navbar {
    margin-top: 48px;

    .footer-link {
      margin-bottom: 24px;
    }
  }

  /* footer end */
}

/* index mobile end */

/* about mobile */

@include media-breakpoint-between(xs, md) {
  /* hero section */
  .about-hero {
    height: 400px;
    background-image: url(/assets/about/mobile/image-hero-whitecup.jpg);
    @include backgroundIMG;
    border-radius: 10px;

    h1 {
      @include frauces28px;
      color: $LightCream;
    }

    p {
      @include barlow15px;
      color: $LightCream;
      opacity: 0.8;
    }
  }

  .about-text {
    height: 400px;
  }

  /* hero section end */

  /* commitment section */

  .commitment {
    margin-bottom: 201px !important;
  }

  .our-commitment {
    height: 901px;

    .our-photo {
      height: 410px;
      background-image: url(/assets/about/mobile/image-commitment.jpg);
      @include backgroundIMG;
      border-radius: 10px;
    }

    .our-text {
      height: 453px;

      h2 {
        @include frauces28px;
        color: $DarkGreyBlue;
      }

      p {
        @include barlow15px;
        color: $DarkGreyBlue;
        opacity: 0.8;
      }
    }
  }

  /* commitment section end */

  /* quality section*/

  .quality-container {
    height: 508px;
  }

  .quality-photo {
    position: relative;
    height: 156px;
    background-image: url(/assets/about/mobile/image-quality.jpg);
    @include backgroundIMG;
    border-radius: 10px;
    margin-top: -80px;
  }

  .quality-text {
    height: 306px;
    margin-top: 65px;
  }

  /* quality section end*/

  /* headquarters section */

  .hq {
    margin-top: 128px !important;
    .card-img-top {
      width: 40px;
      height: 49px;
      margin-bottom: 38px;
    }
  }

  .hq-card {
    width: 100%;
    height: 262px;
  }

  // head quarters section end
}

/* about mobile end */

/*  Plan mobile */

@include media-breakpoint-between(xs, md) {
  /*  plan hero */

  .plan-hero {
    height: 400px;
    background-image: url(/assets/plan/mobile/image-hero-blackcup.jpg);
    @include backgroundIMG;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  .plan-text {
    height: 163px;
  }

  /*  plan hero end*/

  /*  Steps section*/

  .steps-card {
    .card-body {
      padding: 0 !important;
    }
  }

  .circles-col {
    display: none;
  }

  /*  Steps section end*/

  // plan how it works

  .plan-steps {
    background-color: $FooterBackground;
  }

  /*  Order section*/

  //options

  .options {
    display: none;
  }

  //list

  .list {
    display: none;
  }

  //order summary

  .order-summary {
    height: 450px;
    border-radius: 10px;

    .summary-text {
      height: 338px;
      background-color: $FooterBackground;
      border-radius: 10px;
    }

    h5 {
      @include barlow15px;
      color: $CardHeader;
      opacity: 0.5;
      text-transform: uppercase;
    }

    p {
      @include frauces24px;
      color: $CardHeader;
    }

    span {
      @include frauces24px;
      color: $Darkcyan;
    }
  }

  /*  Order section end*/

  /*  MODAL*/

  .modal-container {
    width: 327px !important;
    height: 597px;
    border: none;
  }

  .modal-header {
    width: 327px !important;
    height: 88px !important;
  }

  .modal-order-text {
    width: 279px !important;
    height: 220px;
    margin-left: 0 !important ;
    padding-right: 0 !important;
    line-height: 40px !important;
  }

  .order-p {
    width: 279px !important;
    height: 125px;
    margin-left: 0 !important ;
  }

  .value {
    display: none;
  }

  .checkout-btn {
    width: 279px !important;
  }
}

/* create plan mobile end */
