/* INDEX TABLET*/

@include media-breakpoint-between(md, xxl) {
  /* hero section*/

  .hero-row {
    height: 500px;
  }
  .hero-col {
    height: 500px;
    background-image: url(/assets/home/tablet/image-hero-coffeepress.jpg);
    @include backgroundIMG;
  }

  .hero-text {
    align-items: flex-start !important;
    margin-left: 30px;
  }

  /* hero section end*/

  /* collection section*/

  .coffe-heading {
    height: 118px;
  }

  .our-collection {
    height: 118px !important;
    font-size: 90px !important;
    padding-top: 40px !important;
  }

  .coffe-row {
    margin-top: -110px;
  }

  .coffe-card {
    flex-direction: row;
    background: RGBA(254, 252, 247, 0) !important;
    .card-body {
      text-align: left !important;
    }
  }

  /* collection section end*/

  /* why section */

  .why-container {
    height: 573px !important;
  }

  .why-text {
    width: 500px;
    margin: 0 auto;
  }

  //testemonials cards

  .testemonials {
    margin-top: -330px;
  }

  .testemonials-card {
    height: 180px !important;
    flex-direction: row !important;

    .card-img-top {
      width: 56px;
      height: 56px;
      margin-left: 70px;
      margin-right: 54px;
    }

    .card-body {
      text-align: left !important;
    }
  }

  /* why section end */

  /* how it works */

  .circles {
    margin-left: 0 !important;
  }

  .how-heading {
    text-align: left !important;
  }

  .how-card {
    text-align: left !important;
  }
  .card-text {
    text-align: left !important;
  }

  /* how it works end */

  /* footer */

  .footer-navbar {
    flex-direction: row !important;
    margin-top: 35px;

    .footer-link {
      margin-left: 30px;
      margin-bottom: 0 !important;
    }
  }

  /* footer end */
}

/* INDEX TABLET END*/

/* ABOUT US TABLET*/

@include media-breakpoint-between(md, xxl) {
  /* hero section */
  .about-hero {
    height: 400px;
    background-image: url(/assets/about/tablet/image-hero-whitecup.jpg);
    @include backgroundIMG;
  }

  .about-text {
    margin-left: 55px !important;
    padding-right: 50px;
  }

  /* hero section end */

  /* commitment section */

  .our-commitment {
    flex-direction: row !important;
  }

  .our-photo {
    height: 470px;
    background-image: url(/assets/about/tablet/image-commitment.jpg);
    @include backgroundIMG;
    border-radius: 10px;
    margin-right: 60px !important;
  }

  .our-text {
    width: 339px;
    h2 {
      margin: 17px !important;
    }
  }

  /* commitment section end */

  /* quality section*/

  .quality-container {
    height: 488px;
    margin-top: 240px;
    background-image: url(/assets/about/tablet/bg-quality.png);
    @include backgroundIMG;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  .quality-photo {
    position: relative;
    height: 320px;
    background-image: url(/assets/about/tablet/image-quality.jpg);
    @include backgroundIMG;
    border-radius: 10px;
    margin-top: -160px !important;
  }

  .quality-text {
    height: 197px;
    margin-top: 75px;

    h2 {
      margin-bottom: 20px;
    }
  }

  /* quality section end*/

  /* headquarters section*/

  .hq-cards {
    height: 366px;
    margin-left: 0 !important;

    h5 {
      @include frauces24px;
      color: $DarkGreyBlue;
    }
  }

  .h-cards {
    display: flex;
  }

  .card-body {
    padding: 0;
  }

  /* headquarters section end*/
}

/* ABOUT US TABLET END*/

/* PlAN TABLET*/

@include media-breakpoint-between(md, xxl) {
  /* PLAN HERO*/

  .plan-hero {
    height: 400px;
    background-image: url(/assets/plan/tablet/image-hero-blackcup.jpg);
    @include backgroundIMG;
    border-radius: 10px;
  }

  .plan-text {
    margin-left: 55px;
    padding-right: 20px;
  }

  /* PlAN HERO END*/

  // steps

  .plan-steps {
    height: 640px;
    // background-color: $FooterBackground;
    display: flex;
    // flex-direction: row !important;
  }

  .circles-col {
    margin-left: 30px;
  }

  .circles {
    height: 26px !important;
    margin-left: 40px;
  }

  /* Order section */

  .options {
    display: none;
  }

  // question btn

  .question {
    width: 390px !important;
  }

  //sub-cards!

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    .sub-card {
      height: 250px;
      margin: 0 5px;
      padding: 10px;
      cursor: pointer;

      h5 {
        margin-top: 20px;
        margin-bottom: 24px;
      }
    }
  }

  .list {
    display: none;
  }

  // order summary

  .order-summary {
    height: 304px;
  }

  .summary-text {
    height: 208px !important;
  }

  /* Order section end */
}
