@mixin backgroundIMG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// typography

@mixin barlow12px {
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
}

@mixin barlow15px {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

@mixin frauces24px {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

@mixin frauces28px {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
}

@mixin frauces40px {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 32px;
}

@mixin frauces72px {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}
