$Darkcyan: #0e8784;
$DarkGreyBlue: #333d4b;
$PaleOrange: #fdd6ba;
$LightCream: #fefcf7;
$Grey: #83888f;
$ButtonHover: #66d2cf;
$FooterBackground: #2c343e;
$CardHeader: #ffffff;
$CardBackground: #f4f1eb;
$Question: #83888f;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
