.main-btn {
  width: 217px;
  height: 56px;
  background-color: $Darkcyan;
  cursor: pointer;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: $LightCream;
  border: none;
  border-radius: 6px;

  &:hover {
    color: $ButtonHover;
  }
}

// qestio btn

.question {
  width: 240px;
  padding: 0 !important;
  @include frauces24px;
  color: $Question;
  text-align: start;

  &:hover {
    color: $Question;
  }
}
