.footer-container {
  background-color: $FooterBackground;
}

.footer-navbar {
  a {
    @include barlow12px;
    color: $Grey;
    text-transform: uppercase;
  }
}

.footer-links {
  li {
    list-style: none;
    margin-right: 20px;
  }
}

.footer-link {
  text-decoration: none;
}
