.hamburger {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 320px;
  top: 20px;
  display: none;
  cursor: pointer;
}

#close-btn {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0px;
  top: 7px;
  display: none;
}
